:root {
  /* THEME COLORS */
  --bg-gradient: linear-gradient(180deg, #3399FF 22.92%, #3399FF 22.93%, #003366 100%);
  --bg-gradent-translusent: var(--bg-gradient);
  /* --bg-gradient-translusent: linear-gradient(180deg, rgba(0, 87, 183, 0.478) 22.92%, rgba(0, 87, 183, 0.478) 22.93%, #8B4513AA 100%); */
  --radial-gradient: radial-gradient(50% 50% at 55.81% 50%, #134d7c 0%, #134b9e 100%);
  --radial-gradient-circle: radial-gradient(circle, #134d7c 0%, #134b9e 80%);

  --bg: #053464;
  --bg-translusent: var(--bg);
  /* --bg-translusent: #8B4513194; */
  --bg-lighter: #3176bb;
  --bg-light: #3478bc;
  --bg-light-translusent: rgba(12, 48, 95, 0.44);
  --bg-light-translusent-hover: rgba(22, 68, 121, 0.177);

  --theme-dark: #1579a7;
  --theme-light: #2f6fc3;
  --theme-text: #10467c;
  --light-text: #ffffff;

  --text-gray: #c5d6e0;
  --red-dark: #8B0000;
  --red-action: #dc1212;
  --red: #9a2929;
  --orange: #FFA500;
  --yellow: #FFD700;

  --gray-text-gradient: radial-gradient(50% 50% at 55.81% 50%, #145380b0 0%, #175084c1 100%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* @font-face {
  
  src: url('/vue-public/sui\ generis\ rg.ttf') format('truetype');
} */

body {
  min-height: 100vh;
  color: white;
  background: var(--bg);
  background-image: linear-gradient(var(--bg), var(--bg));
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;

  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.padding {
  padding: 0 20px;
}

.padding-main {
  padding: 0 20px;
  padding-bottom: 20px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: red;
}

.hidden {
  display: none;
}

h3 {
  color: var(--light-text);
  background-clip: text;
  padding: 5px 2px;
  font-size: 14px !important;
}

*:disabled {
  opacity: 1;
}

ion-content {
  /* background: var(--bg-translusent); */
  background-image: url('@/assets/bg.jpg');
}

a {
  color: white !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: inherit !important;
  margin-bottom: inherit !important;
  font-weight: 550 !important;
  line-height: 1.6 !important;
}

/* h1 {
  font-size: 2em !important;
} */