:root {
  /* THEME COLORS */
  --bg-gradient: linear-gradient(180deg, #FDCE7E 22.92%, #FDCE7E 22.93%, #f5c470dc 100%);
  --bg-gradent-translusent: var(--bg-gradient);
  /* --bg-gradient-translusent: linear-gradient(180deg, rgba(0, 87, 183, 0.478) 22.92%, rgba(0, 87, 183, 0.478) 22.93%, #8B4513AA 100%); */
  --radial-gradient: radial-gradient(50% 50% at 55.81% 50%, #FDCE7E 0%, #f5c470dc 100%); /* Home/Profil */
  --radial-gradient-circle: radial-gradient(circle, #FDCE7E 0%, #f5c470dc 80%);

  --app-bg: #1f1718; /*tło aplikacji*/

  --bg: #573804dc; 
  --bg-translusent: var(--bg);
  /* --bg-translusent: #8B4513194; */
  --bg-lighter: #493429; /*harmo cień*/
  --bg-light: #ac8131; /*menu kafelki*/
  --bg-light-translusent: #f5c47091; /*profil opcje*/
  /*--bg-light-translusent-hover: rgba(111, 219, 21, 0.177);
*/
  --theme-dark: #371000; /* kolor ikon - domyśl sie których */
  --theme-light: #FDCE7E; /* ZALOGUJ SIE*/
  --theme-text: #7FA9CF; /* qr efekt + maly tekst an ekranie logowania*/
  --light-text: #ffffff; /* malutki text */
  --chatt-color: #80A9D0;
  --send-button: #FDCE7E;

  --text-gray: #efefefb9; /* harmo - miejsce + czaty msg*/
  --text-dark: #c5861a; /* Opcje - chatt */
  --red-dark: #8B0000;
  --red-action: #dc1212;
  --red: #6d1111;
  --orange: #FFA500;
  --yellow: #FFD700;

  --gray-text-gradient: radial-gradient(50% 50% at 55.81% 50%, #FDCE7E 0%, #f5c470dc 100%); /* harmo data na gorze */

  --login-button-color: #FDCE7E; /*tekst - zaloguj sie*/
  --login-button-bg: #f5c47021; /* przyciski log */
  
  --bottom-nav-gradient: linear-gradient(90deg, #80A9D0, #FDCE7E, #80A9D0);

  --daily-quest-gradient: radial-gradient(farthest-corner at 90% 90%, #FDCE7E 0%, #80A9D0 100%);

/*ion-tab-bar {
  background: url('@/assets/Molo-final.png') no-repeat center center;
  background-size: cover;
  color: white;
}
*/
}

:root,
body {
  --ion-background-color: transparent !important;
  --background: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

/* @font-face {
  src: url('/vue-public/sui\ generis\ rg.ttf') format('truetype');
} */

body {
  min-height: 100vh;
  color: white;
  background: var(--bg);
  background-image: linear-gradient(var(--bg), var(--bg));
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;

  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.padding {
  padding: 0 20px;
}

.padding-main {
  padding: 0 20px;
  padding-bottom: 20px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: red;
}

.hidden {
  display: none;
}

h3 {
  color: var(--light-text);
  background-clip: text;
  padding: 5px 2px;
  font-size: 14px !important;
}

*:disabled {
  opacity: 1;
}

ion-content {
  /* background: var(--bg-translusent); */
  background-color:  var(--app-bg); /*tło */

}
a {
  color: white !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: inherit !important;
  margin-bottom: inherit !important;
  font-weight: 550 !important;
  line-height: 1.6 !important;
}

ion-refresher-content {
  margin-top: 40px;
}

/* DOLNY PASEK NAWIGACYJNY */
ion-tab-bar {
  background: var(--bottom-nav-gradient);
  color: white;
}
