/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64); */
  --bg-gradient: linear-gradient(180deg, #761500 22.92%, #751500 22.93%, #2F0A01 100%);
  --bg-gradient-translusent: linear-gradient(180deg, #76160088 22.92%, #75150088 22.93%, #2F0A01aa 100%);
  --red: #751500;
  --orange: #DC7D28;
  --yellow: rgb(222, 186, 136);

  --red-dark: #5F1404;

  --bg: #131313;
  --bg-translusent: #13131394;
  --bg-lighter: #1b1b1b;
  --bg-light: #010101;
  --bg-light-translusent: rgba(217, 217, 217, 0.172);
  --bg-light-translusent-hover: rgba(217, 217, 217, 0.177);

  --radial-gradient: radial-gradient(50% 50% at 55.81% 50%, #dea766 0%, #de7539 100%);
  --radial-gradient-circle: radial-gradient(circle, #dea766 0%, #de7539 80%);
  --theme-dark: #de7539;
  --theme-light: #dea766;
  --text-gray: #8d8d8d;

  --light-text: #ededed79;
  
  /* --red: #6a2323; */
  --red-action: #9a2929;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

@font-face {
  font-family: 'Sui Generis';
  src: url('/vue-public/sui\ generis\ rg.ttf') format('truetype');
}

body {
  min-height: 100vh;
  color: white;
  background: var(--bg);
  background-image: url('@/assets/Icon Grid.svg'), linear-gradient(var(--bg),var(--bg));
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: 'Sui Generis';
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.padding {
  padding: 0 20px;
}

.padding-main {
  padding: 0 20px;
  padding-bottom: 100px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: red;
}

.hidden {
  display: none;
}

h3 {
  color: var(--light-text);
  background-clip: text;
  padding: 5px 2px;
  font-size: 13px;
}